<footer class="index" role="contentinfo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <span>Copyright © 2014 Wind Creek Hospitality</span>
            </div>
            <div class="col-lg-4">

            </div>
            <div class="col-lg-4 pull-right">
                <ul>
                    <li><a href="#"><i class="fa fa-2x fa-envelope-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-2x fa-pinterest-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-2x fa-jsfiddle"></i></a></li>
                    <li><a href="#"><i class="fa fa-2x fa-mobile-phone"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>