<footer class="main" role="contentinfo">
    <div class="container-fluid">
        <ul>
            <li class="active">
                <a><i class="fa fa-3x fa-building"></i><span>Build a Package</span></a>
            </li>
            <li>
                <a><i class="fa fa-3x fa-bank"></i><span>Do More Get More</span></a>
            </li>
            <li>
                <a><i class="fa fa-3x fa-mail-reply"></i><span>Trade Your Rewards</span></a>
            </li>
        </ul>
    </div>
</footer>